@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&family=Shrikhand&display=swap");

* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #353535;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
}

.main-container {
  width: 100%;
  max-width: 768px;
  box-sizing: border-box;
}

:root {
  --main-color: ;
}

.main-button {
  padding: 0;
  background: linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  height: 3.125rem;
  width: 11.625rem;
  border-radius: 25px;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(--White, #fff);
  text-align: center;
  border: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  transition: all 0.3s ease;
}

/* HEADER  */

header {
  position: relative;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.logo-image {
  display: flex;
  width: 12.3125rem;
  height: 2.25rem;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.13rem;
  background: var(--Grey-2, #eaeaea);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  gap: 15px;
}

.fa-solid-loc {
  width: 12px;
  height: 16px;
}

header a {
  position: absolute;
  left: 1%;
}

.menu-second h3 {
  border-bottom: 3px solid #99e2d0;
  max-width: 40px;
  padding-bottom: 10px;
}

/* LOADER  */

.loader {
  z-index: 5;
  display: none;
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #f6f6f6;
  animation: loader-fade ease-in 3s;
}

.spin-loader {
  position: absolute;
  display: inline-block;
  left: 50%;
  top: 50%;
  width: 48px;
  height: 48px;
  border: 5px solid #9356dc;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes loader-fade {
  0% {
    display: block;
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: 0;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* SECTION RESERVATION  */

.wrapper-reservation {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
}

.section-reservation {
  display: flex;
  justify-content: center;
  background: var(--Background, #f6f6f6);
}

.section-reservation p {
  font-weight: 300;
  font-size: 18px;
}

.section-reservation h1 {
  font-weight: 700;
  font-size: 24px;
}

.section-reservation-text {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 15px;
  padding: 0 15px;
}

.button-reservation {
  padding: 25px 0;
}

.button-reservation .main-button {
  width: 13.625rem;
}

/* SECTION FONCTIONNEMENT  */

.fa-solid-mobil,
.fa-solid-list,
.fa-solid-store {
  height: 19.903px;
  width: 13.019px;
}

.section-fonctionnement {
  padding: 30px 0;
  display: flex;
  justify-content: center;
}

.wrapper-fonctionnement {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}

.wrapper-card-fonctionnement {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-fonctionnement {
  position: relative;
  display: flex;
  justify-content: center;
  width: 322.486px;
  height: 78.379px;
  background: var(--Background, #f6f6f6);
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}

.ellipse {
  left: 0;
  position: absolute;
  border-radius: 50%;
  background: #9356dc;
  color: white;
  padding: 5px 10px;
  text-align: center;
  left: 0%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.wrapper-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

/* SECTION RESTAURANT  */

.section-restaurant {
  background: var(--Background, #f6f6f6);
  padding: 30px 0;
  display: flex;
  justify-content: center;
}

.wrapper-restaurant {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
  max-width: unset;
}

.wrapper-card-restaurant {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.article-main {
  position: relative;
}

.card-restaurant {
  width: 21rem;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}

.img-restaurant {
  width: 100%;
  max-width: 21rem;
  max-height: 13rem;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.bloc-card-restaurant {
  display: flex;
  height: 4rem;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}

.title-card p {
  font-weight: 300;
  font-size: 17px;
}

.title-card h3 {
  font-size: 18px;
  font-weight: 700;
}

.titre-hearth {
  cursor: pointer;
  width: 22px;
  height: 21px;
  stroke-width: 2%;
  stroke: black;
  fill: none;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

/* FOOTER  */

footer {
  background: var(--Grey, #353535);
}

.wrapper-footer {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
}

.footer-logo p {
  font-family: "Shrikhand", serif;
  color: white;
  font-size: 18px;
}

.fa-solid-utensils,
.fa-solid-handcheck {
  width: 11.9px;
  height: 13px;
  color: white;
}

ul {
  padding: 0;
}

.icon-footer {
  display: flex;
  align-items: center;
  gap: 10px;
}

footer li {
  color: white;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* ANIMATION  */

.main-button:hover {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(255, 255, 255, 0.15) 100%
    ),
    linear-gradient(201deg, #9356dc -5.2%, #ff79da 110.74%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}

.titre-hearth:hover {
  fill: url(#myGradient);
}

/* tablette  */

@media (min-width: 768px) {
  .section-menu {
    margin: 0;
  }
}

/* desktop */
@media (min-width: 1024px) {
  body {
    margin: 0;
    display: flex;
    justify-content: center;
  }
  .main-container {
    max-width: 1440px;
    width: 100%;
  }

  .wrapper-fonctionnement {
    width: 1080px;
  }

  .wrapper-card-fonctionnement {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }

  .wrapper-restaurant {
    max-width: 1080px;
  }

  .wrapper-card-restaurant {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card-restaurant {
    width: 30rem;
  }

  .card-restaurant img {
    max-width: unset;
  }

  .section-menu {
    margin: 0 250px;
  }

  /* footer  */

  .footer-list {
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .wrapper-footer {
    flex-direction: row;
  }

  .footer-logo {
    position: absolute;
    right: 25px;
  }

  footer {
    padding-top: 45px;
  }
}
