* {
  margin: 0;
}

li {
  list-style-type: none;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
}

.main-container {
  width: 100%;
  max-width: 768px;
  box-sizing: border-box;
  border: 1px solid red;
}
